<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}" lang="en"
      xmlns:th="http://WWW.thymeleaf.org"
>
<body>

<div layout:fragment="container" class="container-fluid flex-grow-1 container-p-y">
    <div class="row">
        <div class="">

            <div th:if="${product!=null}" class="card mb-4">
                <h5 class="card-header text-center">Product</h5>
                <form th:action="@{/admin/products/edit}" th:class="enterDisable" enctype="multipart/form-data"
                      method="post">
                    <div class="card-body">
                        <input type="hidden" th:value="${product.id}" name="id">
                        <div layout:replace="~{/admin/components/product/title :: productTitle(${product.title}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/rating :: productRating(${product.rating})}"></div>
                        <div layout:replace="~{/admin/components/product/handle :: productHandle(${product.handle})}"></div>
                        <div layout:replace="~{/admin/components/product/vendor :: productVendor(${product.vendor}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/productType :: productType(${product.productType}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/collections :: productCollections(${product.collections}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/productTags :: productTags(${product.productTags}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/published :: productPublished(${product.published}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/images :: productImages(${product.images}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/bodyHtml :: productBodyHtml(${product.bodyHtml})}"></div>
                        <div layout:replace="~{/admin/components/product/prevBodyHtml :: productPrevBodyHtml(${product.bodyHtml})}"></div>
                        <div layout:replace="~{/admin/components/product/options :: productOptions(${product.options})}"></div>
                        <div layout:replace="~{/admin/components/product/variants :: productVariants(${product.variants})}"></div>
                        <div class="mb-3 productEditAction">
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6 demo-inline-spacing text-right">
                                    <button type="submit" class="btn btn-primary">Save and edit variants</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div th:else="${product==null}">
                <form action="">
                    <h5 th:class="text-center">Find product to edit</h5>
                    <div class="mb-3 px-5">
                        <input
                                type="text"
                                class="form-control border-0 shadow-none mx-5"
                                placeholder="Search..."
                                aria-label="Search..."
                        />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>