<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}" lang="en"
      xmlns:th="http://WWW.thymeleaf.org"
>
<body>

<div layout:fragment="container" class="container-fluid flex-grow-1 container-p-y">
    <div class="row">
        <div class="">
            <div class="card mb-4">
                <div class="row">
                    <div class="col-6">
                        <h5 class=" card-header ">Product</h5>
                    </div>
                    <div class="col-6 demo-inline-spacing text-right">
                        <a th:href="@{'/admin/products/' + ${product.handle} + '/edit.html'}" class="btn btn-warning">Edit</a>
                    </div>
                </div>
                <div class="card-body">
                    <div layout:replace="~{/admin/components/product/title :: productTitle(${product.title})}"></div>
                    <div layout:replace="~{/admin/components/product/rating :: productRating(${product.rating})}"></div>
                    <div layout:replace="~{/admin/components/product/handle :: productHandle(${product.handle})}"></div>
                    <div layout:replace="~{/admin/components/product/vendor :: productVendor(${product.vendor})}"></div>
                    <div layout:replace="~{/admin/components/product/productType :: productType(${product.productType})}"></div>
                    <div layout:replace="~{/admin/components/product/collections :: productCollections(${product.collections})}"></div>
                    <div layout:replace="~{/admin/components/product/productTags :: productTags(${product.productTags})}"></div>
                    <div layout:replace="~{/admin/components/product/published :: productPublished(${product.published})}"></div>
                    <div layout:replace="~{/admin/components/product/images :: productImages(${product.images})}"></div>
                    <div layout:replace="~{/admin/components/product/prevBodyHtml :: productPrevBodyHtml(${product.bodyHtml})}"></div>
                    <div class="mb-3 productOptions">
                        <label  class="form-label">Options</label>
                        <ul>
                            <li th:each="option: ${product.options}"
                            >
                                <span th:text="${option.name}"></span>:
                                <span th:each="optionValue,stat : ${option.optionValues}" th:text="${stat.index > 0} ? ', ' + ${optionValue.value} : ${optionValue.value}"></span>
                            </li>
                        </ul>
                    </div>
                    <div layout:replace="~{/admin/components/product/variants :: productVariants(${product.variants})}"></div>
                    <div class="mp-3 productReviews"
                         th:if="${!product.reviews.isEmpty()}">
                        <p class="demo-inline-spacing">
                            <button class="btn btn-primary me-1 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Reviews of customer
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample" style="">
                            <div th:each="review : ${product.reviews}" class="d-grid d-sm-flex p-3 border">
                                <img th:src="review.customer.img"
                                     src="../assets/img/elements/1.jpg"
                                     alt="collapse-image" height="125"
                                     class="me-4 mb-sm-0 mb-2">
                                <span th:text="review.content"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mp-3 ">
                        <div class="row">
                            <div class="col-6">
                            </div>
                            <div class="col-6 demo-inline-spacing text-right">
                                <a th:href="@{'/admin/products/' + ${product.handle} + '/edit.html'}"
                                   class="btn btn-warning">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>