<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}" lang="en"
      xmlns:th="http://WWW.thymeleaf.org"
>
<body>

<div layout:fragment="container" class="container-fluid flex-grow-1 container-p-y">
    <div class="row">
        <div class="">
            <div th:if="${product}" class="card mb-4">
                <h5 class="card-header text-center" th:text="${product.title}">Product</h5>
                <form th:action="@{/admin/products/variants/edit}" th:class="enterDisable"  enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        <input type="hidden" th:value="${product.id}" name="id">
                        <input type="hidden" th:value="${product.handle}" name="handle">
                        <div layout:replace="~{admin/components/product/variants :: productVariants(${product.variants}, 'edit')}"></div>
                        <div class="mb-3 productEditAction">
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6 demo-inline-spacing text-right">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div th:unless="${product}">
                <form action="">
                    <h5 th:class="text-center">Find product to edit variants</h5>
                    <div class="mb-3 px-5">
                        <input
                                type="text"
                                class="form-control border-0 shadow-none mx-5"
                                placeholder="Search..."
                                aria-label="Search..."
                        />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>