<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}" lang="en"
      xmlns:th="http://WWW.thymeleaf.org"
>
<body>

<div layout:fragment="container" class="container-fluid flex-grow-1 container-p-y">
    <style>
        .bodyHtml{
          width: 400px;
          text-wrap: wrap;
          padding: 10px;
        }
        .table-responsive{
          margin: 10px;
        }
    </style>
    <nav layout:replace="admin/components/breadcrumb :: breadcrumb"></nav>
    <div class="card">
        <h5 class="card-header">Products</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                <tr class="text-nowrap">
                    <!--                    <th>#</th>-->
                    <th>ID</th>
                    <th>Title</th>
                    <th>Handle</th>
                    <th>Images</th>
                    <th>Rating</th>
                    <th>Published</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product,stat : ${products}" th:object="${product}">
                    <!--                    <th scope="row" th:text="${stat.index + 1}"></th>-->
                    <td th:text="*{id}"></td>
                    <td th:text="*{title}"></td>
                    <td>
                        <a th:href="*{'/admin/products/' + handle + '.html'}" th:text="*{handle}"></a>
                    </td>
                    <td>
                        <div
                                th:attr="id=${product.handle}"
                                class="carousel carousel-dark slide carousel-fade"
                                data-bs-ride="carousel"
                        >
                            <ol class="carousel-indicators">
                                <li
                                        th:each="image,_stat : ${product.images}"
                                        th:object="${image}"
                                        th:attr="data-bs-target=${'#' + product.handle}, data-bs-slide-to=${_stat.index}"
                                        th:class="${_stat.index == 0} ? 'active' : ''">

                                </li>
                            </ol>
                            <div class="carousel-inner">
                                <div th:each="image,_stat : ${product.images}"
                                     th:object="${image}"  class="carousel-item active"
                                     th:class="${_stat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                    <img class="d-block w-100" th:src="*{src}" src="" alt="First slide"/>
                                </div>
                            </div>
                            <a class="carousel-control-prev" th:href="${'#' + product.handle}" role="button"
                               data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" th:href="${'#' + product.handle}" role="button"
                               data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </td>
                    <td th:text="*{rating}"></td>
                    <td th:text="*{published}"></td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                [...]
                            </button>
                            <div class="dropdown-menu bodyHtml" th:utext="*{bodyHtml}">
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>