<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}" lang="en"
      xmlns:th="http://WWW.thymeleaf.org"
>
<body>

<div layout:fragment="container" class="container-fluid flex-grow-1 container-p-y">
    <div class="row">
        <div class="">
            <div class="card mb-4">
                <h5 class="card-header text-center">Product</h5>
                <form th:action="@{/admin/products/create}" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        <div layout:replace="~{/admin/components/product/title :: productTitle(${null}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/rating :: productRating(5)}"></div>
                        <div layout:replace="~{/admin/components/product/handle :: productHandle(${null}, 'create')}"></div>
                        <div layout:replace="~{/admin/components/product/vendor :: productVendor(${null}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/productType :: productType(${null}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/collections :: productCollections(${null}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/productTags :: productTags(${null}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/published :: productPublished(${null}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/images :: productImages(${null}, 'edit')}"></div>
                        <div layout:replace="~{/admin/components/product/bodyHtml :: productBodyHtml(${null})}"></div>
                        <div layout:replace="~{/admin/components/product/prevBodyHtml :: productPrevBodyHtml(${null})}"></div>
                        <div layout:replace="~{/admin/components/product/options :: productOptions(${null})}"></div>
                        <div class="mb-3 productCreateAction">
                            <div class="row">
                                <div class="col-6">
                                </div>
                                <div class="col-6 demo-inline-spacing text-right">
                                    <button type="submit" class="btn btn-primary">Create and edit variants</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>