<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
>
<div layout:fragment="userLastName(lastName,view)" class="mb-3 userLastName">
    <label for="lastName" class="form-label">Last name</label>
    <input
            type="text"
            class="form-control error"
            id="lastName"
            name="lastName"
            th:value="${lastName}"
            th:readonly="${view == null}"
    />
    <p th:if="${#fields.hasErrors('user.lastName')}" th:errorclass="error" th:errors="${user.lastName}"></p>
</div>
</html>