<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
>
<div layout:fragment="orderItems(orderItems,view)" class="mb-3 orderItems">
    <label for="customerInputSearch" class="form-label">Items</label>
    <div id="listOrderItems" style="overflow: hidden;" class="listOrderItems  card mx-2 mb-3 ">
        <div th:if="${orderItems}" th:each="orderItem,stat : ${orderItems}" class="">
            <div th:class="row">
                <input type="hidden" name="orderItems.id" th:value="${orderItems.id}">
                <div class="col-sm-2">
                    <img style="width: 100%;"
                         src="	http://localhost:8080/files/images/customers/88273811859472596919.jpg" alt="img">
                </div>
                <div th:text="${orderItem.variant.title}" style="display: flex; align-orderItems: center;"
                     class="col-sm-4 username">title
                </div>
                <div th:class="col-sm-2">price</div>
                <div th:class="col-sm-2">quantity</div>
                <div th:class="col-sm-2">remove</div>
            </div>
            <p th:if="${#fields.hasErrors('order.orderItems['+stat+']')}" th:errorclass="error"
               th:errors="${order.orderItems[stat]}"></p>
        </div>
    </div>
    <div th:if="${view}" th:class="searchGroup">
        <input
                type="text"
                class="form-control error"
                id="productInputSearch"
        />
        <p th:if="${#fields.hasErrors('order.orderItems')}" th:errorclass="error" th:errors="${order.orderItems}"></p>
        <div style="" class="listSearchProduct card p-2">
            <div class="accordion mt-3" id="accordionExample">
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#accordionOne" aria-expanded="false" aria-controls="accordionOne">
                            <div th:class="row">
                                <div th:class="col-sm-2">
                                    <img width="100%"
                                         src="https://cdn.shopify.com/s/files/1/0287/3670/products/814-187-15113_2.jpg?v=1682523323"
                                         alt="">
                                </div>
                                <div style="display:flex;align-items:center;" th:class="col-sm-10">
                                    title
                                </div>
                            </div>
                        </button>
                    </h2>

                    <div id="accordionOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                         style="">
                        <div class="accordion-body">
                            <div class="" style="padding:20px 0">
                                <div class="mb-1  variantImage imageGroup">
                                    <div class="text-center imageFirst ">
                                        <img class="mx-auto "
                                             alt=""
                                             src="https://cdn.shopify.com/s/files/1/0287/3670/products/814-187-15113_2.jpg?v=1682523323">
                                    </div>
                                </div>
                                <div class="mb-1 text-center">
                                    <p>title</p>
                                </div>
                                <div class="mb-1 text-right">
                                    <p>Inventory: 100</p>
                                </div>
                                <div class="mb-1 text-right">
                                    <p>Price: 100$</p>
                                </div>
                                <div class="row">
                                    <div class="col-2">Color</div>
                                    <div class="col-10" style="display: flex;flex-direction: row;flex-wrap: wrap;">
                                        <div class="form-check mx-3">
                                            <input class="form-check-input" name="colorOption" id="redOption"
                                                   type="radio">
                                            <label class="form-check-label" for="redOption">red</label>
                                        </div>
                                        <div class="form-check mx-3">
                                            <input class="form-check-input" name="colorOption" id="blueOption"
                                                   type="radio">
                                            <label class="form-check-label" for="blueOption">blue</label>
                                        </div>
                                        <div class="form-check mx-3">
                                            <input class="form-check-input" name="colorOption" id="yellowOption"
                                                   type="radio">
                                            <label class="form-check-label" for="yellowOption">yellow</label>
                                        </div>
                                        <div class="form-check mx-3">
                                            <input class="form-check-input" name="colorOption" id="greedOption"
                                                   type="radio">
                                            <label class="form-check-label" for="greedOption">greed</label>
                                        </div>
                                    </div>
                                </div>
                                <div class='quantityGroup'>
                                    <input style=" display: flex;justify-content: flex-end; width:25px; height:25px;" type='button' value='-'
                                           class='qtyminus minus'/>
                                    <input style="width: 40px;height: 25px;text-align: center;margin-inline: 2px;" type='text'
                                           name='quantity' value='0' class='qty'/>
                                    <input style=" width:25px; height:25px;" type='button' value='+'
                                           class='qtyplus plus'/>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-danger addItem">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>