<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
>
<div layout:fragment="customerConfirmPassword(confirmPassword,view)" class="mb-3  customerUsername">
    <label for="confirmPassword" class="form-label">Confirm password</label>
    <div class="input-group input-group-merge">
        <input autocomplete="new-password" type="password" id="confirmPassword" class="form-control" name="confirmPassword"
               th:value="${confirmPassword}"
        >
        <span class="togglePassword input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
    </div>
    <p th:if="${#fields.hasErrors('customer.confirmPassword')}" th:errorclass="error" th:errors="${customer.confirmPassword}"></p>
</div>

</html>