<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
>
<div layout:fragment="customerPassword(password,view)" class="mb-3  customerPassword">
    <label for="password" class="form-label">Password</label>
    <div class="input-group input-group-merge">
        <input autocomplete="new-password" type="password" id="password" class="form-control" name="password"
               th:value="${password}"
        >
        <span class=" togglePassword input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
    </div>
    <p th:if="${#fields.hasErrors('customer.password')}" th:errorclass="error" th:errors="${customer.password}"></p>
</div>

</html>