<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{customer/layout}"
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${product.title}"></title>
</head>
<body>
<main id="MainContent"
      class="content-for-layout focus-none"
      role="main"
      tabindex="-1"
      style="background: #fff; padding-top: 115px !important"
      layout:fragment="main">
    <div class="mx-5">
        <div layout:replace="~{customer/components/product/content :: content}"></div>
        <div layout:replace="~{customer/components/product/alsoLike :: alsoLike}"></div>
    </div>
</main>
</body>
</html>