<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
>
<div layout:fragment="productOptions(options)" class="mb-3 productOptions">
    <label class="form-label">Options</label>
    <div th:id="optionsList" class="accordion mb-3" id="options">
        <div th:each="option,stat : ${options}" class="card accordion-item optionItemBox">
            <input class="inputOptionIdItem" type="hidden"
                   th:value="${option.id}"
                   th:name="${'options[' + stat.index + '].id'}"
            >
            <h2 class="accordion-header" id="">
                <button
                        type="button"
                        class="accordion-button"
                        data-bs-toggle="collapse"
                        th:attr="data-bs-target=${'#option' + stat.index},aria-controls=${'option' + stat.index}"
                        aria-expanded="true"
                        th:text="${'Option item ' + (stat.index + 1)}"
                >
                    Accordion Item
                </button>
            </h2>
            <div
                    th:id="${'option' + stat.index}"
                    class="accordion-collapse collapse px-3"
                    data-bs-parent="#options"
            >
                <div class="accordion-body">
                    <div class="mb-3 row optionName">
                        <label th:for="${'optionName'+stat.index}"
                               class="col-md-2 small">Name</label>
                        <div class="col-md-10">
                            <input th:value="${option.name}"
                                   class="inputOptionNameItem form-control-sm  form-control"
                                   type="text"
                                   th:id="${'optionName'+stat.index}"
                                   th:name="${'options['+ stat.index + '].name'}"
                            >
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label th:for="${'optionValues'+stat.index}" class="col-md-2 small">Values</label>
                        <div class="optionValuesList px-1 col-md-10">
                            <div style="display:inline-block; border:2px solid #ccc;"
                                 class="rounded px-1 m-1 optionValueItemBox"
                                 th:each="optionValue,stat_ : ${option.optionValues}">
                                <span th:text="${optionValue.value}"></span>
                                <input type="hidden"
                                       th:name="${'options[' + stat.index + '].optionValues[' + stat_.index + '].id'}"
                                       th:id="${'optionValueId'+stat.index}"
                                       th:value="${optionValue.id}"
                                       class="inputOptionValueId"
                                >
                                <input type="hidden"
                                       th:name="${'options[' + stat.index + '].optionValues[' + stat_.index + '].value'}"
                                       th:id="${'optionValueValue'+stat.index}"
                                       th:value="${optionValue.value}"
                                       class="inputOptionValueValue "
                                >
                                <span class="removeOptionValueBtn px-1" role="button">&times;</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10 row">
                                <div class="col-10">
                                    <input class="inputOptionValue form-control-sm  form-control " type="text" list="">
                                </div>
                                <button type="button"
                                        class="addOptionValueBtn btn col-2 btn-sm btn-outline-primary">Add value
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: right;" class="mx-3 mb-3">
                <img class="btnRemoveOption m-2" role="button"
                     src="\admin\assets\img\icons\myicon\delete.svg" alt="">
            </div>
        </div>
    </div>
    <div style="text-align: right;" class="mb-3">
        <button th:id="addOptionBtn" type="button" class="addOptionBtn btn btn-sm btn-outline-primary">Add option</button>
    </div>

</div>

</html>