<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
>
<div layout:fragment="productTitle(title,view)" class="mb-3 productTitle">
    <label for="title" class="form-label">Title</label>
    <input
            type="text"
            class="form-control error"
            id="title"
            name="title"
            th:value="${title}"
            th:readonly="${view == null}"
    />
    <p th:if="${#fields.hasErrors('product.title')}" th:errorclass="error" th:errors="${product.title}"></p>
</div>
</html>